**/.DS_Store
/.venv
/notes_not_published
/.quarto/
power_systems.jl
part-06/not-pub
part-07/not-pub
part-07/solution/tutorial-storage.qmd
part-08/not-pub
part-08/solution/tutorial-design.qmd
part-09/not-pub
part-09/solution
part-09/data
part-10/not-pub
part-11/not-pub
part-11/solution
part-11/data
part-11/tutorial-framework.qmd
part-13/material
part-exam
# part-02/solution/
# part-03/solution/
# part-04/solution/
# part-05/solution/
part-06/solution/
part-07/solution/
part-08/
part-09/
part-10/
part-11/
part-12/
part-13/