**/.DS_Store
/.venv
/notes_not_published
/.quarto/
power_systems.jl
part-06/not-pub
part-07/not-pub
part-07/solution
part-08/not-pub
part-08/solution
part-09/not-pub
part-09/solution
part-09/data
part-10/not-pub
part-11/not-pub
part-11/solution
part-11/data
part-11/tutorial-framework.qmd